<div class="environment">
  <div class="menu">
    <div (click)="goTo('story-book')">Story</div>
    <div (click)="goTo('castle')">Castle</div>
    <div (click)="goTo('castle-baracks')">Baracks</div>
    <div (click)="goTo('castle-stables')">Stables</div>
  </div>
  <div class="castle" (click)="goTo('castle')">
    <img src="http://localhost:4205/img/castle.png" />
  </div>
  <div class="stables" (click)="goTo('castle-stables')">
    <img src="http://localhost:4205/img/stables.png" />
  </div>
  <div class="baracks" (click)="goTo('castle-baracks')">
    <img src="http://localhost:4205/img/baracks.png" />
  </div>
  <div class="house1"><img src="http://localhost:4205/img/house.png" /></div>
  <div class="house2"><img src="http://localhost:4205/img/house.png" /></div>
  <div class="house3"><img src="http://localhost:4205/img/house2.png" /></div>
  <div class="peasent1">
    <img src="http://localhost:4205/img/peasent1.png" />
  </div>
  <div class="peasent2">
    <img src="http://localhost:4205/img/peasent2.png" />
  </div>
  <div class="peasent3">
    <img src="http://localhost:4205/img/peasent2.png" />
  </div>
  <div class="peasent4">
    <img src="http://localhost:4205/img/peasent3.png" />
  </div>
  <div class="guard z">
    <img src="http://localhost:4205/img/guard.png" />
  </div>
  <div class="guard y">
    <img src="http://localhost:4205/img/guard.png" />
  </div>
</div>

<div class="popup" [ngClass]="{ show: showPopup }" (click)="closeModal()">
  <div class="modal">
    <img src="http://localhost:4205/img/baracks_under_construction.png" />
  </div>
</div>
